.order{
    padding: 40px;
    margin: 20px 0px;
background-color: white;
position:relative;
    border: 1px solid lightgray;
}
.order__id{
position:absolute;
top:40px;
right: 20px;
}
.ver{
    position:relative;
    
        }

.total{
    position:absolute;
    bottom:40px;
    right: 20px;
    }

    